<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="port" value="COM1" />
		<add key="serverUri" value="iot-mqtts.cn-north-4.myhuaweicloud.com"/>
		<add key="deviceId" value="627e2fdc2d5e854503d514cc_1652437082795"/>
		<add key="deviceSecret" value="0123456789abcdef"/>
		<add key="portIsSsl" value="8883"/>
		<add key="portNotSsl" value="1883"/>
		<add key="language" value="en-US"/>
	</appSettings>
	<connectionStrings>
		<add name="db" connectionString="Data Source=Localhost;Database=zx_data;User ID=sa;Password=1"/>
	</connectionStrings>
</configuration>